---
import lokkee2Image from '@assets/images/lokkee2.webp';
import cryptocadet from '@assets/images/cryptocadet.png'
import incubatex from '@assets/images/incubatex.png'
import lipa from '@assets/images/lipa.png'
import jaytradz from '@assets/images/jaytradz.png'
import ascendant from '@assets/images/ascendant.png'
import lostbulls from '@assets/images/lostbulls.png'
import sakuramedia from '@assets/images/sakuramedia.png'
import hanzicards from '@assets/images/hanzicards.png'
import ReactIcon from '@components/icons/ReactIcon';
import JavascriptIcon from '@components/icons/JavascriptIcon';
import JavaIcon from '@components/icons/JavaIcon';
import MongoIcon from '@components/icons/MongoIcon';
import TailwindIcon from '@components/icons/TailwindIcon';
import PythonIcon from '@components/icons/PythonIcon';
import SpringIcon from '@components/icons/SpringIcon';
import RustIcon from '@components/icons/RustIcon';
import SolidityIcon from '@components/icons/SolidityIcon';
import ButtonLink from '@components/button/ButtonLink';
import ChildrenEntranceAnimator from '@components/ChildrenEntranceAnimator';
import Container from '@components/Container';
import Caption from '@components/text/Caption';
import Heading from '@components/text/Heading.astro';
import Paragraph from '@components/text/Paragraph.astro';
import site from '@data/site';
---

<section
  id="stack"
  class="relative z-10 flex min-h-screen w-full flex-col items-center bg-primary  md:flex-row"
>
 <!-- <img
    src={lokkee2Image.src}
    alt="Myself, LOKKEE, walking down a pier"
    width={lokkee2Image.width}
    height={lokkee2Image.height}
    decoding="async"
    loading="lazy"
    class="relative -top-28 max-h-screen w-full object-cover object-center md:absolute md:top-0 md:h-full md:w-1/2 md:pr-10 xl:pr-0"
  />-->
  <Container>
    <div class="ml-auto md:ml-auto w-full text-center">
      <ChildrenEntranceAnimator>
        <Caption client:visible>Source code</Caption>
        <div class='flex flex-row w-full'>
        <JavascriptIcon className='mx-3 hover:animate-bounce'/>
        <ReactIcon className='mx-3 hover:animate-bounce'/>
        <JavaIcon className='mx-3 hover:animate-bounce'/>
        <SpringIcon className='mx-3 hover:animate-bounce'/>
        <TailwindIcon className='mx-3 hover:animate-bounce'/>
        <PythonIcon className='mx-3 hover:animate-bounce'/>
       
        <SolidityIcon className='mx-3 hover:animate-bounce'/>
        </div>
      <!--   <div class='flex flex-wrap lg:flex-row justify-around w-full my-20'>
          <a href="https://cryptocadet.app" target="_blank"><div class="flex flex-col relative">
            <div class="absolute flex h-full w-full rounded-md hover:bg-slate-900/25 cursor-pointer"></div>
            <img src={cryptocadet.src} class="flex justify-around w-[300px] h-[200px] rounded-md my-5 mx-3"/>
            <Paragraph>CRYPTOCADET</Paragraph>
          </div></a>
          <a href="https://www.incubatex.io/" target="_blank"> <div class="flex flex-col">
            <div class="absolute flex h-full w-full rounded-md hover:bg-slate-900/25 cursor-pointer"></div>

            <img src={incubatex.src} class="flex justify-around w-[300px]  h-[200px] rounded-md my-5 mx-3" />
            <Paragraph>INCUBATEX</Paragraph>

          </div></a>
          <a href="https://my-sakura.vercel.app/" target="_blank"><div class="flex flex-col">
            <div class="absolute flex h-full w-full rounded-md hover:bg-slate-900/25 cursor-pointer"></div>

            <img src={sakuramedia.src} class="flex justify-around w-[300px]  h-[200px] rounded-md my-5 mx-3"/>
            <Paragraph>SAKURA MEDIA</Paragraph>

          </div></a>
          <a href="https://jaytradz.com/" target="_blank"> <div class="flex flex-col">
            <div class="absolute flex h-full w-full rounded-md hover:bg-slate-900/25 cursor-pointer"></div>

            <img src={jaytradz.src} class="flex justify-around w-[300px]  h-[200px] rounded-md my-5 mx-3"/>
            <Paragraph>JAYTRADZ</Paragraph>

          </div></a>
          <a href="https://ascendant.finance/" target="_blank"> <div class="flex flex-col">
            <div class="absolute flex h-full w-full rounded-md hover:bg-slate-900/25 cursor-pointer"></div>

            <img src={ascendant.src} class="flex justify-around w-[300px]  h-[200px] rounded-md my-5 mx-3"/>
            <Paragraph>ASCENDANT.FINANCE</Paragraph>

          </div></a>
          <a href="https://thelostbulls.xyz/" target="_blank"> <div class="flex flex-col">
            <div class="absolute flex h-full w-full rounded-md hover:bg-slate-900/25 cursor-pointer"></div>

            <img src={lostbulls.src} class="flex justify-around w-[300px]  h-[200px] rounded-md my-5 mx-3"/>
            <Paragraph>THE LOST BULLS</Paragraph>

          </div></a>
          <a href="https://play.google.com/store/apps/details?id=com.kjay.hanzicards&pli=1" target="_blank"> <div class="flex flex-col">
            <div class="absolute flex h-full w-full rounded-md hover:bg-slate-900/25 cursor-pointer"></div>

            <img src={hanzicards.src} class="flex justify-around w-[300px]  h-[200px] rounded-md my-5 mx-3"/>
            <Paragraph>Hanzi Cards</Paragraph>

          </div></a> 
           -->

        </div>
       
      </ChildrenEntranceAnimator>
      <!--<ButtonLink
        href={site.sourcecodeUrl}
        rel="noreferrer"
        target="_blank"
        foregroundColor="error"
        backgroundColor="light"
      >
        Show me
      </ButtonLink>-->
    </div>
  </Container>
</section>
